<section class="contact">
  <div class="contact-card card">
    <h3>Ready to start?</h3>
    <p>Let's talk and discuss the approach to how your next website will be made by focusing in good UX Design, Development, your objectives and your customers needs.</p>
    <div class="contact-cta">
      <a class="button button-primary" href="/contact/">Let's talk</a>
    </div>
  </div>
</section>
