<section class="contact">
  <div class="contact-card card">
    <h3>Let's schedule a meeting</h3>
    <p>I'll help your business grow and atract more clients by focusing in your objectives and client's needs.</p>
    <div class="contact-cta">
      <a class="button button-primary" href="/contact/">Let's talk</a>
    </div>
  </div>
</section>
