<footer class="footer">
  <div class="footer-content container">
    <div class="footer-social">
      {% include 'socialLinks.njk' %}
    </div>
  </div>
  <div class="footer-copy container">
    <small>Copyright  &copy; <script>document.write(new Date().getFullYear())</script> Rafael Calvo</small>
  </div>
</footer>