<footer class="footer">
  <div class="footer-content container">
    <div class="footer-social">{% include 'socialLinks.njk' %}</div>
  </div>
  <div class="footer-copy container">
    <p>&copy; 2021 Rafael Calvo</p>
  </div>
  <div class="attribution">
    <small>Site made with 💖, 🥤 and <a href="https://www.11ty.dev/" target="blank" rel="noopener noreferrer">Eleventy</a>. Hosted in <a href="https://www.netlify.com/" target="blank" rel="noopener noreferrer">Netlify</a>.</small></small>
  </div>
</footer>
