---
layout: layouts/page
templateClass: tmpl-project
---


<article class="project">
  <div class="go-back">
      {# <a href="/">← Go Home</a> #}
      <a href="/projects/">← Go to Projects</a>
  </div>
  {{ content | safe }}
</article>