---
layout: layouts/page.njk
permalink: /about/
title: About Me
eleventyNavigation:
  key: About
  order: 4
---
<header class="about-header header">
  <h2>Something about me</h2>
</header>
<article class="about">
  <p>I'm a UI/UX designer and Frontend Developer who's been working in making websites that work and are good looking. In adition I'll help your business hav more reach to more future clients.</p> <br>
  <p>Since I began my career I've always been interested in making websites that are always pleaseant to the eyes and interesting enough that keep the visitors interested in its content.</p> <br>


  <h4>My journey</h4>
  <p>Curiosity is what motivates me. A few years ago, I began searching "How to make a website" after I was asked if I can make a website, and bluffing I said "Yes I can". Since then, I used various sources for learning (from <a href="https://www.youtube.com/" target="_blank">YouTube</a> to <a href="https://www.freecodecamp.org/" target="_blank">Freecode Camp</a>, including a bunch of blog articles).</p>
</article>

{% include 'contactcard.njk' %}