---
layout: layouts/page.njk
permalink: /blog/
title: Blog posts
social: 'https://i.ibb.co/XVvVjvf/Blog-light.png'
eleventyNavigation:
  key: Blog
  order: 3
---

<section>
  <header class="blog-header header">
    <h2>My Blog</h2>
  </header>

  {% include 'allposts.njk' %}
</section>

