---
layout: layouts/page.njk
permalink: /projects/
title: My projects
social: 'https://i.ibb.co/jZW41pw/Projects-Light.png'
eleventyNavigation:
  key: Projects
  order: 1
---

<section class="projects">
  <header class="projects-header header">
    <h1>Here are some works I've done</h1>
  </header>

  <ul class="projects-grid">
    {%- for item in collections.work -%}
    <li>
      <div class="project-card card">
        <img
          src="{{ item.data.screenshot2 }}"
          alt="{{ item.data.title }} picture"
        />
        <div class="project-card-text">
          <header class="card-header">
            <h4>
              <a href="{{ item.url | url }}">{{ item.data.title }}</a>
            </h4>
            <span class="tag">{{ item.data.type }}</span>
          </header>
          <p card="card-text">{{ item.data.description }}</p>
          <a href="{{ item.url | url }}">Read More →</a>
        </div>
      </div>
    </li>
    {%- endfor -%}
  </ul>
</section>

<section class="playground">
  <header class="playground-header header">
    <h2>Welcome to my playground!</h2>
    <h3>
      Here you'll find some (if not all) side projects, experiments, templates
      and designs that I've done and been doing over time.
    </h3>
  </header>

  <ul class="projects-grid">
    {%- for item in collections.playground -%}
    <li>
      <div class="project-card card">
        <img
          src="{{ item.data.screenshot2 }}"
          alt="{{ item.data.title }} picture"
        />
        <div class="card-text">
          <header class="card-header">
            <h4>
              <a href="{{ item.url | url }}">{{ item.data.title }}</a>
            </h4>
            <span class="tag">{{ item.data.type }}</span>
          </header>
          <p card="card-text">{{ item.data.description }}</p>
          <a href="{{ item.url | url }}">Read More →</a>
        </div>
      </div>
    </li>
    {%- endfor -%}
  </ul>
</section>
