---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
permalink: /tags/{{ tag }}/
layout: layouts/base.njk
renderData:
  title: "Tagged “{{ tag }}”"
  metaDescription: "All posts from the Blog tagged with “{{ tag }}”"
---

<h1>Tagged “{{ tag }}”</h1>

{% set postslist = collections[tag] %}
<ul>
  {%- for post in collections.blog -%}
    <li><a href="{{ post.url | url }}">{{ post.data.title }}</a></li>
    {% if post.data.tags %}
      <ul>
        <li>
          {% for tag in post.data.tags %}
            {%- if tag != "recent" -%}
              {% set tagUrl %}/tags/{{ tag }}/{% endset %}
            <span><a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a></span>
            {%- endif -%}
          {% endfor %}
        </li>
      </ul>
    {% endif %}
  {%- endfor -%}
</ul>

<nav>
  <a href="{{ '/blog/' | url }}">← Blog index</a>
</nav>