@use '../abstracts' as *;
@use '../base' as *;

.card {
  border-radius: $b-radius-l;
  // box-shadow: 4px 4px 0 rgba($neon-blue, 0.5);
  border-width: 0.15em;
  border-color: $neon-blue;
  border-style: solid dashed;
  overflow: hidden;

  img {
    width: 100%;
  }

  h3 {
    line-height: 1;
  }

  p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .tag {
    font-size: 0.75em;
    padding: 0 0.5em;
  }

  &-text {
    padding: 0 1em 1.25em 1em;
    margin-top: 1em;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h4 {
      width: 60%;
    }
  }
}
