@use '../abstracts' as *;

.posts-list {
  padding-top: 1.5em;
  margin-top: 2rem;
  margin-bottom: 2rem;

  p {
    margin-bottom: 0.5rem;
  }

  .post {
    margin-bottom: 1.5rem;
  }

  .post-info {
    padding: 1em 0 0.5em 0;
    margin-bottom: 1.25rem;
  }

  .read-more {
    color: $neon-blue;
    margin-top: 1rem;
    text-decoration: red;
  }
}
