@use '../abstracts' as *;
@use 'tags' as *;

.projects-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 1.5em;

  @include mq(medium) {
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 1rem;
  }
}

.project-card {
  a {
    color: $neon-blue;
    &:first-child {
      color: inherit;
    }
  }

  h4 {
    a {
      color: inherit;
    }
  }

  .more-link {
    font-weight: 500;
  }
}
