@use "../abstracts/" as *;

.services-grid {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1.75rem;
  row-gap: 1.5rem;

  @include mq(medium) {
    grid-template-columns: repeat(2, 1fr);
  }

  .service-header {
    display: flex;
    justify-content: flex-start;
    gap: 3%;
    align-items: center;
    margin-bottom: 1rem;

    h5 {
      margin: 0;
    }
  }

  .service {
    p {
      padding: 0 1em 1em 2.5em;
    }

    svg {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}
