@use '../abstracts' as *;

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  gap: 5%;

  a {
    svg {
      width: 2rem;
      transition: color ease-in-out 0.2s;
    }
  }

  a:hover {
    svg {
      color: $neon-blue;
    }
  }
}
