@use '../abstracts' as *;

.tag {
  // font-size: 0.8em;
  background-color: $neon-blue;
  color: $lavender-web;
  margin-right: 0.5rem;
  padding: 0.25em 0.5em;
  border-radius: $b-radius-sm;
  box-shadow: 4px 4px 0 rgba($neon-blue, 0.5);

  a:hover {
    color: $ghost-white;
  }

  a:focus {
    outline: max(1px, 0.1em) dashed $neon-blue;
    outline-offset: 0.75em;
  }
}
