@use '../abstracts' as *;

.tag {
  // font-size: 0.8em;
  background-color: $neon-blue;
  color: $lavender-web;
  padding: 0.25em 0.5em;
  border-radius: $b-radius-sm;
  box-shadow: 0.3em 0.3em 0 rgba($neon-blue, 0.5);
  position: relative;
  height: 100%;
  width: 5em;

  a:hover {
    color: $ghost-white;
  }

  a:focus {
    outline: max(1px, 0.1em) dashed $neon-blue;
    outline-offset: 0.75em;
  }
}
