@use '../abstracts' as *;

.go-home {
  margin-top: 2rem;
  a {
    width: 100%;
    color: inherit;
    border-bottom: 2px dashed $neon-blue;
  }
}

.post-info {
  padding: 1.5em 0 0.5em 0;
}

.blog-post {
  margin-bottom: 2rem;
  width: 100%;

  span {
    background: none;
    box-shadow: none;
  }

  // h2 {
  //   @include mq(small) {
  //     text-shadow: 4px 4px 0 rgba($neon-blue, 0.4);
  //   }
  // }

  ul {
    list-style: square;
    margin-left: 1.75rem;
    li::marker {
      box-shadow: 4px 4px 0 rgba($neon-blue, 0.4);
    }
  }

  ol {
    li::marker {
      font-size: 100%;
      font-weight: bold;
      text-shadow: 4px 4px 0 rgba($neon-blue, 0.4);
    }
  }

  a {
    color: $neon-blue;
  }

  p,
  ol,
  ul {
    code {
      background-color: #babaff;
      color: $oxford-blue;
      padding: 0.15em;
    }
  }

  // pre {
  //   background-color: #babaff;
  //   border-radius: $b-radius-s;
  //   color: $oxford-blue;
  //   padding-top: 1em;
  //   overflow: auto;

  //   code {
  //     display: block;
  //     background: none;
  //     white-space: pre;
  //     word-wrap: break-word;
  //     -webkit-overflow-scrolling: touch;
  //     overflow-x: scroll;
  //     max-width: 100%;
  //     min-width: 100px;
  //     padding: 0;
  //   }
  // }

  figure {
    margin-top: 1rem;
  }

  figcaption {
    text-align: center;
    font-style: italic;
  }
}

.post-header {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 1.5em;
  border-bottom: 3px dotted $manatee;

  p {
    font-family: var(--ff-main);
  }
}
