@use '../abstracts' as *;
@use '../utilities' as *;
@use '../base' as *;
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik:wght@400;600;700;800;900&display=swap');

.project {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  width: 100%;

  &-picture {
    margin-bottom: 2rem;
  }

  h2 {
    font-family: var(--ff-main);
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
  }

  &-info {
    background-color: $manatee;
    color: $oxford-blue;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1em 2em;
    border-radius: 0.5em;
    flex-direction: column;

    @include mq(small) {
      width: 80%;
      margin-bottom: 3rem;
      flex-direction: row;
    }

    img {
      width: 100%;
    }

    p:first-child {
      font-weight: 600;
    }

    a {
      color: $neon-blue;
    }
  }
}

.playground {
  --playground-bg: #ffea64;
  --font-titles: 'Rubik', sans-serif;
  --font-body: 'Poppins', sans-serif;
  --v-dark-gray: #1c1c1c;

  margin-top: 2.5rem;
  padding: 1.5em;
  border-radius: $b-radius-s;
  background: var(--playground-bg);
  font-family: var(--font-body);
  color: var(--v-dark-gray);

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: var(--font-titles);
    text-shadow: 3px 3px 0 rgba(#ff1500, 0.4);
  }
}
